[package]
name = "k2-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
once_cell = "1"
console_error_panic_hook = "0.1"
k2-core = { path = "../k2-core" }
